

body {
    background-color: #2a2a2a;
    transition: background-color 0.8s;
    color: white;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

    body.green {
        background-color: #85ccc9;
    }

#landing-container {
    min-height:100vh;
}

@media screen and (min-width: 1200px) {
    #title {
        padding-top: 38vh;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 8vh;
        font-weight: 600;
    }

    #landing {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        min-height:100vh;
        padding-left: 10vw;
        padding-right: 40vw;
    }

}

@media screen and (max-width: 1200px) {
    #title {
        padding-top: 29vh;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 8vh;
        font-weight: 600;
    }

    #landing {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        min-height:100vh;
        padding-left: 20vw;
        padding-right: 20vw;
        text-align: center;
        align-items: center
    }

    #favicon {
        display: flex;
        flex-direction: row;
        column-gap: 1vw;
    }
}

@media screen and (max-width: 800px) {
    #title {
        padding-top: 29vh;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 8vh;
        font-weight: 600;
    }

    #landing {
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
        min-height:100vh;
        padding-left: 10vw;
        padding-right: 10vw;
        text-align: center;
        align-items: center
    }

    #favicon {
        display: flex;
        flex-direction: row;
        column-gap: 3vw;
    }
}

#aboutme {
    font-weight: 300;
}

.otherish {
    text-decoration: none;
    color: white;
    transition: 0.18s;
}

    .otherish:hover {
        text-shadow: 0px 0px 5px white;
    }

.text-fa {
    font-family: 'Raleway', sans-serif;
    font-size: 2.1vh;
    margin: 0.5vw;
    text-shadow: 0px 0px 2px white;
}

.symb-fa {
    margin: 0.8vw;
    transform: scale(1.8, 1.8);
}

.ext {
    margin: 0.5vw;
    text-decoration: none;
    color: white;
    transform: scale(1.2, 1.2);
    opacity: 0.35;
}

    .ext:hover {
        opacity: 0.8;
    }

.scrollbar {
    position: absolute;
    transform: scale(2.5, 2.5);
    padding-left: 27vw;
    padding-bottom: 15vh;
}

@media screen and (min-width: 1200px) {
    #projects-title {
        padding-top: 5vh;
        padding-left: 4vw;
        font-family: 'Josefin Sans', sans-serif;
    }

    #projects {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        background-color: #2a2a2a;
        min-height:100vh;
    }
}

@media screen and (max-width: 1200px) {
    #projects-title {
        padding-top: 5vh;
        padding-left: 4vw;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }

    #projects {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        background-color: #2a2a2a;
        min-height:100vh;
        padding-bottom: 10vh;
    }
}

#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2vh;
    column-gap: 2vh;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 1200px) {
    .project {
        background: #121212;
        border-radius: 40px;
        width: 30vw;
        max-height: 20vw;
        transition: width 0.8s ease-in-out, max-height 1.2s ease-in-out;
        overflow: hidden;
    }

    .project:hover {
        width: 36vw;
        max-height: 100vw;
    }

    img {
        width: 16vw;
        height: 9vw;
        border-radius: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.6em;
        transition: 0.7s;
        object-fit: cover;
    }

    .img-one-line {
        width: 20vw;
        height: 11vw;
    }

    .project:hover img {
        width: 30vw;
        height: 17vw;
    }

    p {
        color: #121212;
        transition: 1.5s;
    }

    .project:hover p {
        color: white;
    }
}

@media screen and (max-width: 1200px) {
    .project {
        background: #121212;
        border-radius: 40px;
        width: 45vw;
        max-height: 200vh;
        transition: 1.5s;
        transition: width max-height ease-in-out;
        overflow: hidden;
    }

    img {
        width: 35vw;
        height: 20vw;
        border-radius: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.6em;
        transition: 0.7s;
        object-fit: cover;
    }

    .project:hover p {
        color: white;
    }
}

@media screen and (max-width: 800px) {
    .project {
        background: #121212;
        border-radius: 40px;
        width: 85vw;
        max-height: 200vw;
        transition: 0.8s;
        transition: width max-height ease-in-out;
        overflow: hidden;
    }

    img {
        width: 50vw;
        height: 29vw;
        border-radius: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.6em;
        transition: 0.7s;
        object-fit: cover;
    }

    p {
        color: white;
    }
}

.project-content {
    margin: 6% 6% 6% 6%;
}

h2 {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.technology {
    background-color: #85ccc9;
    border-radius: 5px;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    padding-left: 0.4vh;
    padding-right: 0.4vh;
    color: black;
}

.project-spec {
    text-align: center;
}

